[Desktop Entry]
Encoding=UTF-8
Exec=/usr/bin/zerotier-gui
Icon=zerotier-gui
Type=Application
Terminal=false
Comment=Linux front-end for ZeroTier
Name=ZeroTier GUI
GenericName=ZeroTier GUI
StartupNotify=false
Categories=Utility;
Version=1.2.2
